
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #A52A2A;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


















img {
    border: 5px solid #000000 ;
    border-radius: 10px;
}

