
body {
  background-image: url('https://i.pinimg.com/736x/1c/77/2e/1c772e05669e4c65d6459e61ea53f893.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; 
}


















img {
    border: 5px solid #000000 ;
    border-radius: 10px;
}

