
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-image: https://github.com/terryvalela04/assignment/blob/main/coffee%20background.jpg?raw=true;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


















img {
    border: 5px solid #000000 ;
    border-radius: 10px;
}

